# =========================================
# Python
# =========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================================
# Virtual environments
# =========================================
env/
venv/
.venv/

# =========================================
# Environment variables
# =========================================
.env

# =========================================
# IDE
# =========================================
.vscode/
.idea/

# =========================================
# OS
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Logs
# =========================================
*.log

# =========================================
# Qdrant storage
# =========================================
vector_database/

# =========================================
# Uploaded documents
# =========================================
documents_base/

# =========================================
# Python cache
# =========================================
.pytest_cache/
.mypy_cache/

# =========================================
# Jupyter
# =========================================
.ipynb_checkpoints/

# =========================================
# Build
# =========================================
dist/
build/
*.egg-info/

# =========================================
# Coverage
# =========================================
.coverage
htmlcov/